/* Base Background Colors*/
/* $skillsBackGroundColor: #9b9b9b; */
/* Landing page button colors*/
* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

.body {
  /* background-attachment: fixed;
  background: variables.$backgroundGradient;
  min-height: 100%; */
}

/*move stuff to variables and mixin and nav scss*/
/*if position absolute is unprofessional make everything a header, make background color half and half then center button*/
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(247, 196, 206, 0.3647058824);
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  top: 0%;
  z-index: 1;
}
.nav__standin {
  background-color: #f7c4ce;
}
.nav__logo {
  margin-top: 4px;
}

.nav__standin {
  height: 54px;
}

.links__list--styling {
  display: flex;
  list-style: none;
  height: 54px;
}
.links__list__item {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.links__anchor--styling {
  border-left: 2px solid rgba(185, 147, 155, 0.2431372549);
  padding: 3px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.459);
  font-weight: 700;
}

.main__landingPage {
  background-attachment: fixed;
  background: linear-gradient(#f7c4ce 20%, #c9d4fd);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 20%; /*this will cause issues if you need to force button position with Margin*/
}
.main__landingPage--greeting-box-setup {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.main__landingPage--h1-typography {
  font-size: 45px;
  font-weight: 600;
  -webkit-text-decoration: underline dashed;
          text-decoration: underline dashed;
  margin-bottom: 1rem;
}
.main__landingPage--title-typography {
  margin-top: 1rem;
  text-decoration: overline;
}
.main__landingPage__button {
  color: rgba(0, 0, 0, 0.95);
  background-color: rgba(62, 62, 62, 0.35);
  border: none;
  height: 4rem;
  width: 20rem;
  margin-left: 5rem;
  border-radius: 30px 3px 30px 3px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.95);
  /* margin-left: 10px; */
}
.main__landingPage__button:hover {
  border-radius: 3px 30px 3px 30px;
  transition: all 1s ease-out 0.1s;
}
.main__landingPage__button--slant {
  /* transform: skewX(-25deg); */
}
.main__landingPage__button--slant--content {
  /* transform: skewX(25deg) */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  height: 4rem;
  width: 20rem;
  position: relative;
}
.main__landingPage__button--slant--content:hover {
  /* transform: skewX(-25deg);

  transition: all 1s ease-in-out 0.1s; */
}
.main__landingPage__button--slant:hover {
  /* transform: skewX(25deg);

  transition: all 1s ease-in-out 0.1s; */
}
.main__landingPage__button--slant--content {
  color: rgba(0, 0, 0, 0.95);
  text-decoration: none;
  font-weight: 600;
}

.main__about-me {
  background: linear-gradient(to left, #2e324e, #2c3a62);
  color: whitesmoke;
  height: 60vh;
}

.footer {
  background: linear-gradient(to left, #2e324e, #2c3a62);
  height: 90vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem;
}
.footer__about-me--underline {
  text-decoration: underline;
  margin-bottom: 1rem;
}
.footer__about-me__para {
  max-width: 25rem;
  font-size: 18px;
}
.footer__contact-me__link {
  color: whitesmoke;
}
.footer__about-me__picture {
  border-radius: 100%;
  box-shadow: 0 2px 15px white;
}

@media only screen and (max-width: 835px) {
  .main__skills__container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 0;
    margin-left: 0rem;
  }
  .footer {
    flex-direction: column;
  }
  .footer__about-me__picture {
    height: 200px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1055px) {
  .main__landingPage {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .main__landingPage__button {
    margin-right: 65px;
  }
  .footer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 1245px) {
  .main__skills__container {
    /* flex-wrap: wrap; */
  }
  .main__skills__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main__skills__skill > img {
    height: 40px;
  }
  .main__skills__heading {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */