@use "sass/variables";

* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: variables.$backgroundGradientColorOneTransparent;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px);
  top: 0%;
  z-index: 1;
  &__standin {
    background-color: variables.$backgroundGradientColorOne;
  }

  &__logo {
    margin-top: 4px;
  }
}

.nav__standin {
  height: 54px;
}

.links__list {
  &--styling {
    display: flex;
    list-style: none;
    height: 54px;
  }

  &__item {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.links__anchor--styling {
  border-left: 2px solid #b9939b3e;
  padding: 3px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.459);
  font-weight: 700;
}

.main__landingPage {
  background-attachment: fixed;
  background: variables.$backgroundGradient;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 20%;

  &--greeting-box-setup {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  &--h1-typography {
    font-size: 45px;
    font-weight: 600;
    text-decoration: underline dashed;
    margin-bottom: 1rem;
  }

  &--title-typography {
    margin-top: 1rem;
    text-decoration: overline;
  }

  &__button {
    color: variables.$landBtnTxtClr;
    background-color: variables.$landBtnBckClr;
    border: none;
    height: 4rem;
    width: 20rem;
    margin-left: 5rem;
    border-radius: 30px 3px 30px 3px;
    box-shadow: 10px 10px variables.$landBtnTxtClr;
    /* margin-left: 10px; */

    &:hover {
      border-radius: 3px 30px 3px 30px;
      transition: all 1s ease-out 0.1s;
    }
  }

  &__button--slant {
    /* transform: skewX(-25deg); */

    &--content {
      /* transform: skewX(25deg) */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 500;
      height: 4rem;
      width: 20rem;
      position: relative;

      &:hover {
        /* transform: skewX(-25deg);

        transition: all 1s ease-in-out 0.1s; */
      }
    }
  }

  &__button--slant:hover {
    /* transform: skewX(25deg);

    transition: all 1s ease-in-out 0.1s; */
  }

  &__button--slant--content {
    color: variables.$landBtnTxtClr;
    text-decoration: none;
    font-weight: 600;
  }
}

.main__about-me {
  background: variables.$skillsBackGroundColor;
  color: whitesmoke;
  height: 60vh;
}

.footer {
  background: variables.$skillsBackGroundColor;
  min-height: 90vh;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem;

  &__about-me--underline {
    text-decoration: underline;
    margin-bottom: 1rem;
  }

  &__about-me__para {
    max-width: 25rem;
    font-size: 18px;
  }

  &__contact-me__link {
    color: whitesmoke;
  }

  &__about-me__picture {
    border-radius: 100%;
    box-shadow: 0 2px 15px white;
  }
}

@media only screen and (max-width: 835px) {
  .main__skills {
    &__container {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: center;
      gap: 0;
      margin-left: 0rem;
    }
  }

  .footer {
    flex-direction: column;

    &__about-me__picture {
      height: 200px;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1055px) {
  .main__landingPage {
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    &__button {
      margin-right: 65px;
    }
  }

  .footer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 1245px) {
  .main__skills {
    &__container {
      /* flex-wrap: wrap; */
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__skill > img {
      height: 40px;
    }

    &__heading {
      font-size: 15px;
    }
  }
}
