@use "sass/variables";

* {
  margin: 0;
  padding: 0;
}

.body__color {
  margin: 10px 10px 10px 10px;
  background-attachment: fixed;
  background: variables.$backgoundGradient;
  height: 100vh;
}

.body {
  background-attachment: fixed;
  background: variables.$backgoundGradient;
  min-height: 100vh;
}

/*move stuff to variables and mixin and nav scss*/

/*if position absolute is unprofessional make everything a header, make background color half and half then center button*/

#landingPageHeader {
  background-color: rgba(87, 87, 87, 0.5);
  height: 49vh;
  display: flex;
  border-radius: 15px 15px 0px 0px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#landingPageH1 {
  height: min-content;
}

#landingPageMain {
  background-color: rgba(163, 163, 163, 0.5);
  height: 49vh;
  border-radius: 0px 0px 15px 15px;
  border: solid black;
}

#landingPageNav {
  margin-top: 25vh;
  margin-bottom: -20vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.299);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px);
  top: 0%;
}

.nav__standin {
  height: 54px;
  margin-bottom: 10px;
}

.links__list--styling {
  display: flex;
  list-style: none;
}

.links__anchor--styling {
  border: 1px solid black;
  padding: 3px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.268);
  height: 30vh;
}
